@{
    ViewData["Title"] = "关于";
}
<h2 class="bd-title">@ViewData["Title"]</h2>
<h3>胡玮文的博客</h3>
<p><a href="https://github.com/huww98/MyBlog">Fork me on GitHub</a></p>
<p>这是华南理工大学校学生会网络队2016级新干事的练手任务，做得可以的话说不定以后这就真的是我的博客了哦。</p>
<p>
    感谢以下开源项目的支持：
    <ul>
        <li>
            <a href="https://www.microsoft.com/net/core/platform">.NET Core</a>
            - A blazing fast, lightweight and modular platform for creating web applications and services that run on Windows, Linux and Mac.
        </li>
        <li>
            <a href="https://www.asp.net/core">ASP.NET Core</a>
            - A lean and composable framework for building web and cloud applications.
        </li>
        <li>
            <a href="https://docs.efproject.net/">Entity Framework Core</a>
            - An object-relational mapper (O/RM) that enables .NET developers to work with a database using .NET objects.
        </li>
        <li>
            <a href="https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql">Pomelo.EntityFrameworkCore.MySql</a>
            - Entity Framework Core provider for MySql built on top of mysql-net/MySqlConnector.
        </li>
        <li>
            <a href="https://www.mysql.com/products/community/">MySQL Community Edition</a>
            - The world's most popular open source database.
        </li>
        <li>
            <a href="https://github.com/madskristensen/BundlerMinifier">Bundler and Minifier</a>
            - A Visual Studio extension that let's you configure bundling and minification of JS, CSS and HTML files.
        </li>
        <li>
            <a href="https://github.com/mganss/HtmlSanitizer">HtmlSanitizer</a>
            - Cleans HTML to avoid XSS attacks.
        </li>
        <li>
            <a href="http://www.newtonsoft.com/json">Json.NET</a>
            - Popular high-performance JSON framework for .NET.
        </li>
        <li>
            <a href="https://jquery.com/">jQuery</a>
            - A fast, small, and feature-rich JavaScript library.
        </li>
        <li>
            <a href="http://getbootstrap.com/">Bootstrap</a>
            - The most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.
        </li>
        <li>
            <a href="http://fontawesome.io/">Font Awesome</a>
            - The iconic font and CSS toolkit.
        </li>
        <li>
            <a href="https://github.com/jonmiles/bootstrap-treeview">Bootstrap Tree View</a>
            - A simple and elegant solution to displaying hierarchical tree structures.
        </li>
        <li>
            <a href="https://github.com/kartik-v/bootstrap-fileinput">bootstrap-fileinput</a>
            - An enhanced HTML 5 file input for Bootstrap 3.x with file preview, multiple selection, and more features.
        </li>
        <li>
            <a href="https://github.com/steveathon/bootstrap-wysiwyg">Markdig</a>
            - A fast, powerful, CommonMark compliant, extensible Markdown processor for .NET.
        </li>
        <li>
            <a href="https://github.com/jonschlinkert/remarkable">remarkable</a>
            - JavaScript Markdown parser done right. Fast and easy to extend.
        </li>
        <li>
            <a href="http://masonry.desandro.com/">Masonry</a>
            - JavaScript cascading grid layout library
        </li>
    </ul>
</p>
