@{
    ViewData["Title"] = "首页";
}

<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>想了解这个博客是如何构建的？查看<a asp-route="article" asp-route-slug="blog-construction-road-overview">博客构建之路</a></p>
    <p>这个博客仍在不断完善中，查看<a asp-route="article" asp-route-slug="change-log">Change Log</a></p>
    <p><a asp-area="" asp-controller="Articles" asp-action="Index" class="btn btn-primary">查看全部文章</a></p>
</div>