@model IEnumerable<MyBlog.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @for (int i = 0; i < item.IndentLevel; i++)
                    {
                        <span class="indent"></span>
                    }
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.ID">
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return deleteConfirm()" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function deleteConfirm() {
            return confirm('确定删除？\n注意：子分类将同时被删除。')
        }
    </script>
}