@model MyBlog.Models.Article

@{
    ViewData["Title"] = "写新文章";
}

<h2>创建</h2>

<form asp-action="Create" autocomplete="off">
    <div class="form-horizontal">
        <h4>文章</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @await Html.PartialAsync("_ArticleEditFormPartial")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="提交" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">返回文章列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
