@model MyBlog.Models.ArticleViewModel

@{
    ViewData["Title"] = "写新文章";
}

<h2>创建</h2>

@await Html.PartialAsync("_ArticleEditFormPartial", Model)


<div>
    <a asp-action="Index">返回文章列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ArticleEditFormScriptsPartial");}
}
