@model Article
@inject Ganss.XSS.IHtmlSanitizer sanitizer

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div>
    编写时间：@Html.DisplayFor(model => model.CreatedTime) 最后修改时间：@Html.DisplayFor(model => model.EditedTime) <br />
    作者：@await Html.PartialAsync("_UserDisplayNamePartial", Model.Author) <br />
    分类：@string.Join(", ", Model.Categories.Select(ac => ac.Category.Name))
    <hr />
            @Html.Raw(sanitizer.Sanitize(Model.Content))
</div>
<hr />
<div>
    @if (Model.CanEdit)
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">编辑</a>
        @: |
        <a asp-action="Delete" asp-route-id="@Model.ID">删除</a>
        @: |
    }
    <a asp-action="Index">返回文章列表</a>
</div>