@model Article

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<div>
    编写时间：@Html.DisplayFor(model => model.CreatedTime) 最后修改时间：@Html.DisplayFor(model => model.EditedTime) <br />
    作者：@await Html.PartialAsync("_UserDisplayNamePartial", Model.Author)
    <hr />
            @Html.DisplayFor(model => model.Content)
</div>
<hr />
<div>
    @if (Model.CanEdit)
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">编辑</a>
        @: |
        <a asp-action="Delete" asp-route-id="@Model.ID">删除</a>
        @: |
    }
    <a asp-action="Index">返回文章列表</a>
</div>