@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "注册";
}

<h2>注册即将完成</h2>
<h3>关联你的 @ViewData["LoginProvider"] 账号</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>欢迎 @ViewData["NickName"]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <p class="text-info">
        您已成功使用 <strong>@ViewData["LoginProvider"]</strong> 登录
        请输入您的E-mail地址以完成注册
    </p>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">注册</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
