@model RoleManageViewModel

<form asp-action="UpdateRoles">
    <input asp-for="UserId" type="hidden" />
    <div class="form-check form-check-inline">
        <label>
            <input asp-for="IsAuthor" />
            @Html.DisplayNameFor(model=>model.IsAuthor)
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input asp-for="IsEditor" />
            @Html.DisplayNameFor(model => model.IsEditor)
        </label>
    </div>
    <input type="submit" class="btn btn-primary" value="提交修改" />
</form>
